pyspark==3.0.2
git+https://github.com/fadi212/transformers.git@layoutlmv2_onnx
torch==1.10.0 
torchvision==0.11.1 
onnxruntime==1.10.0
datasets==1.18.2 
Pillow==7.1.2 
pathlib==1.0.1
pandas==1.3.5 
tqdm==4.62.3 
pytest-shutil==1.7.0
git+https://github.com/facebookresearch/detectron2.git